<ion-header>
  <ion-toolbar color="success">
    <ion-buttons slot="start">
      <ion-back-button text=""></ion-back-button>
    </ion-buttons>
    <ion-title>My pickup calls</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  
  <app-pickup-call-card status="hold" updateAt="11/08/2021 17:41:00" createdAt="10/08/2021" notes="we have two bags thats are full, one with plastic and the other with glasses"></app-pickup-call-card>

  <app-pickup-call-card status="processing" updateAt="10/06/2021 18:00:00" createdAt="09/08/2021" notes="we have two bags thats are full"></app-pickup-call-card>

  <app-pickup-call-card status="finished" updateAt="12/08/2021 17:23:00" createdAt="10/08/2021" value="$ 15,00"></app-pickup-call-card>
  
</ion-content>
